# --------------------
# ROS 2 / Colcon
# --------------------
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# --------------------
# CMake / C++
# --------------------
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.o
*.so
*.a

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo

# --------------------
# Webots
# --------------------
*.wbo
*.wbproj
*.wbt~ 

# --------------------
# Docker
# --------------------
*.tar
docker-compose.override.yml

# --------------------
# IDE / OS
# --------------------
.vscode/
.idea/
.DS_Store

# Keys
ssh_key
